# Runtime
backups/
reports/
logs/
log/
*.log
*.txt
.gitattributes


# Config files
config.yaml
*.bak
*.csv
.env

# Build outputs
bidar
*.exe
dist/
bin/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.mypy_cache/


# Dependencies
vendor/*.bak
*.tmp
